@model FirstKnock.Domain.SalesOrderViewModel

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>SalesOrderViewModel</h4>
	<hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.CustomerName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CustomerName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PONumber)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PONumber)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Another)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Another)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.SalesOrderId }) |
    @Html.ActionLink("Back to List", "Index")
</p>
